/* Write your code here */
button {
    background-color: red;
    padding: 10px;
    color: white;
    border: none;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
}